{% with comments.count as total_comments %}
    <h2>
        {{ total_comments }} comment{{ total_comments|pluralize }}
    </h2>
{% endwith %}
<hr/>
{% for comment in comments %}
    <div class="card mb-3">
        <div class="card-body">
           <h5> Comment {{ forloop.counter }} by <b>{{ comment.name }}</b>
            {{ comment.created }}</h5>
             <p  class="text-muted">{{ comment.body|linebreaks }}</p>
        </div>
    </div>

{% empty %}
    <p>There are no comments yet.</p>
{% endfor %}

{% if new_comment %}
    <h2>Your comment has been added.</h2>
{% else %}
    <h2>Add a new comment</h2>
    <form method="post">
        {{ comment_form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Add comment" class="btn btn-primary"></p>
    </form>
{% endif %}